body {
    padding-top: 60px;
}

.formLogin {
    width: 200px;
    margin:auto; /*permet de centrer*/
}

.EnTete_tab_frais{
    
    background-color: cyan ;
}

/*coloration sur tous les tableaux d'une lihne sur deux en rouge' */
/*
table tr:nth-child(odd){
  background-color:red;
} */
